<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <H1>Edit Character Here</H1>
    <form action="/<%=id%>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%=Character.name%>">
    Family: <input type="text" name="family" value="<%=Character.family%>">
    Sigil: <input type="text" name="sigil" value="<%=Character.sigil%>">
    Alive: <input type="checkbox" name="alive" value="<%=Character.alive%>"><br>
    <input type="submit">
    </form>
</body>
</html>


