<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/fruits/<%=id%>?_method=PUT" method="POST">
    year: <input type="text" name="year" value="<%=cars.name%>"/><br/>
    make: <input type="text" name="make" value="<%=cars.make%>"/><br/>
    model: <input type="text" name="model" value="<%=cars.model%>"/><br/>
    Color: <input type="text" name="color" value="<%=cars.color%>"/><br/>
    <button type="submit">edit car</button>
    </form>
  </body>
</html>
