<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <h1>Edit product</h1>
    <form action = "/products/<%=products._id%>?_method=PUT" method = "product">
        <input type = "text" name = "title" value = "<%=products.title%>">
        <input type = "text" name = "author" value = "<%=products.author%>">
        <input type = "date" name = "date" value = "<%=products.date%>">
        <input type = "text" name = "body" value = "<%=products.body%>">
        <button type = "submit">Update product</button>
    </form>
</body>
</html>