<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <h1>Log Your Food Babies</h1>
    <div><a href="/foodapp/new"><button id="new-button">Add New Food</button></a></div>
    <% for (let i = 0; i < foods.length; i++){%>
        <div class="first"><a href="/foodapp/<%= foods[i]._id %>">Food: <%= foods[i].name %></a></div>
        <div>Meal: <%= foods[i].meal %></div>
        <div>Healthy? <%= foods[i].healthy %></div>
        <div>Comfort Food? <%= foods[i].comfort %></div>
        <div class="last">Overall Rating (1-10): <%= foods[i].rating %></div>
        <div><a href="/foodapp/<%= foods[i]._id %>/edit"><button id="edit-button">Edit Food</button></a>
            <form action="/foodapp/<%= foods[i]._id %>?_method=DELETE" method="post">
            <button id="delete-button">Delete Food</button>
        </form>
        <hr>
        </div>
    <% } %>
</body>
</html>