<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Show page for <%=got.name%> reached ka-chah!</h1>
    Name: <%=got.name%><br/>
    Gender: <%=got.gender%><br/>
    Age: <%=got.age%><br/>
    House: <%=got.house%><br/>
    Interest: <%=got.loves%><br/>

    
</body>
</html>