<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%=teamName%></h1>
    <img src="<%=team.image%>">
    <h3>Stats</h3>
    <ul>
    <li>Name: <%=team.name%></li>
    <li>League: <%=team.league%></li>
    <li>This team is the best: <%=team.isBest%></li>
    </ul>
</body>
</html>