<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <h1><%= food.name %></h1>
        <div>Food: <%= food.name %></div>
        <div>Meal: <%= food.meal %></div>
        <div>Healthy?: <%= food.healthy %></div>
        <div>Comfort Food?: <%= food.comfort %></div>
        <div>Overall Rating (1-10): <%= food.rating %></div>
        <div><img src="<%= food.img %>"></div>
</body>
</html>